@media only screen and (max-width:1036px){
 .on-hand{
    flex-wrap: wrap;
 }
}
.container nav{
   margin: -8px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.soft{
    font-weight: 600;
    color: #484848;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.on-hand{
    color: #484848;
    align-items: center;
   
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.on-hand .number{
    color: #484848;
font-size: 20px;
}
.box1{ 
    background-color: #484848;
    margin: -8px;
    width: 101%;
    height: 70vh;
}
.big-line{
    font-weight: 600;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.small-lines{
    gap: 10px;
    flex-direction: column;
display: flex;
align-items: center;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.box2{
    align-items: center;
    justify-content: space-around;
   display: flex;
    margin: 7px -8px;
    width: 101%;
    height: 60vh;
}
.consulting{
    text-align: center;
height: 40vh;
width: 22vw;
}
.c-head img{
height: 65px;
}
.c-head .c-line{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #4A90E2;
}
.c-para{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(86 85 85);
}

.developing{
    text-align: center;
    height: 40vh;
    width: 22vw;
}
.d-head img{
    height: 65px;
    }
    .d-head .d-line{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        font-weight: 600;
        color: #4A90E2;
    }
    .d-para{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(86 85 85);
    }

.designing{
    text-align: center;
    height: 40vh;
    width: 22vw;
}
.des-head img{
    height: 65px;
    }
    .des-head .des-line{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        font-weight: 600;
        color: #4A90E2;
    }
    .des-para{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(86 85 85);
    }
.analysis{
    text-align: center;
    height: 40vh;
    width: 22vw;
}
.a-head img{
    height: 65px;
    }
    .a-head .a-line{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        font-weight: 600;
        color: #4A90E2;
    }
    .a-para{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(86 85 85);
    }
    .box3{
        background-color: #dfdfdf;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 101%;
        height: 100vh;
        gap: 40px;
    }
    .box3 .part1{
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
width: 70vw;
height: 45vh;
    }
    .part1 .part1-para{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 40vh;
        width: 30vw;
    }
    .lined1{
color: #484848;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
    }
    .lined2{
color: black;
font-size: 30px;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
    }
    .lined3{
color: #484848;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;

    }
    .part1-para button{
        border-radius: 5px;
        color: black;
        font-weight: 600;
        font-size: 15px;
        border: none;
        background-color: white;
width: 200px;
height: 35px;
    }
    .laptop{
        object-fit: contain;
        height: 40vh;
        width: 30vw;
    }
    .laptop img{
        height: 40vh;
        width: 30vw;
    }
    .box3 .part2{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
width: 70vw;
height: 30vh;
    }
   .box-news{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
height: 25vh;
width: 25vw;
   }
   
   .box-news .news-line1{
    color: #484848;
    text-align: center;
    font-size: 15px;
   }
   .box-news .news-line2{
    color: black;
    text-align: center;
    font-size: 35px;
   }
   .box-libro{
    height: 25vh;
    width: 25vw;
   }
   .libro-line1{
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
    text-align: center;
    font-size: 15px;
   }
   .libro-line2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 35px;
   }
   .box-elite{
    background-color: black;
    height: 30vh;
    width: 25vw;
   }
   .elite-line1{ 
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    color: white;
   }
   .elite-line2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
   }
   .box4{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    width: 101%;
    height: 70vh;
    background-color: #e9e9e9;
   }
   .card1-line1{
    text-decoration: underline;
    text-decoration-color: rgb(197, 197, 197);
    text-decoration-thickness: 4px;

   
   }
   .card1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30vw;
    height: 55vh;
   }
   .card1-dis{
    display: flex;
    align-items: center;
    gap: 10px;
   }
.card1-line1{
    color: #484848;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card1-vertical{
    background-color: rgb(197, 197, 197);
    width: 2px;
    height: 30px;
}
.card1-line2{
    color: #484848;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.card1-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card1-gray{
    display: flex;
    align-items: flex-end;
    background-color: #484848;
    height: 25vh;
    width: 30vw;
}
.card1-date{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    background-color: #999999;
    height: 25px;
    width: 12vw;
}
.card1-headline{
    font-size: 20px;
    font-weight: 600;
    color: #4A90E2;
    font-family: Arial, Helvetica, sans-serif;
}
.card1-after-headline{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
}
.card2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30vw;
    height: 55vh;
   } 
   .card2-line1{
    text-decoration: underline;
    text-decoration-color: rgb(197, 197, 197);
    text-decoration-thickness: 4px;

   
   }
   .card2-dis{
    display: flex;
    align-items: center;
    gap: 10px;
   }
.card2-line1{
    color: #484848;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card2-vertical{
    background-color: rgb(197, 197, 197);
    width: 2px;
    height: 30px;
}
.card2-line2{
    color: #484848;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.card2-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card2-gray{
    display: flex;
    align-items: flex-end;
    background-color: #484848;
    height: 25vh;
    width: 30vw;
}
.card2-date{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    background-color: #999999;
    height: 25px;
    width: 12vw;
}
.card2-headline{
    font-size: 20px;
    font-weight: 600;
    color: #4A90E2;
    font-family: Arial, Helvetica, sans-serif;
}
.card2-after-headline{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
}
   .card3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30vw;
    height: 55vh;
   }
   .card3-line1{
    text-decoration: underline;
    text-decoration-color: rgb(197, 197, 197);
    text-decoration-thickness: 4px;

   
   }
   .card3-dis{
    display: flex;
    align-items: center;
    gap: 10px;
   }
.card3-line1{
    color: #484848;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card3-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card3-gray{
    display: flex;
    align-items: flex-end;
    background-color: #484848;
    height: 25vh;
    width: 30vw;
}

.card3-headline{
    font-size: 20px;
    font-weight: 600;
    color: #4A90E2;
    font-family: Arial, Helvetica, sans-serif;
}
.card3-after-headline{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
}
.box5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 101%;
    height: 50vh;
    background-color: #dfdfdf;

}
.box5-part1{
    justify-content: space-around;
    display: flex;
    height: 35vh;
    width: 45vw;
}
.inc-part1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inc-line1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.inc-line2{
color: #484848;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.inc-line3{
color: #484848;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.inc-line4{
color: #484848;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.inc-line5{
color: #484848;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.inc-line6{
color: #484848;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.inc-line7{
  color: #484848;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;   
}
.some-nav-items{
    color: #484848;
    align-items: center;
   
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
   display: flex;
   flex-direction: column;
   gap: 13px;
}
.box5-part2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 35vh;
    width: 45vw;
}
.news-letter{
display: flex;
flex-direction: column;
gap: 10px;
}
.top-line{

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.writting-box{
    display: flex;
    gap: 10px;
}
.writting-box button{
    border: none;
    height: 40px;
    background-color: #484848;
    color: white;
}
#comment{
    border: none;
}
.follow{
    display: flex;
    flex-direction: column;
}
.follow-line{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.small-boxes{
    display: flex;
    gap: 13px;
}
.small-box1{
    background-color: white;
    width: 30px;
    height: 30px;
}
.small-box2{
    background-color: white;
    width: 30px;
    height: 30px;
}
.small-box3{
    background-color: white;
    width: 30px;
    height: 30px;
}
.small-box4{
    background-color: white;
    width: 30px;
    height: 30px;
}
.follow{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
